.AppRouter {
  margin: 0;
  padding: 0px;
  margin-right: 5px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  text-decoration: none !important;
}

@media (max-width: 1400px) {
  .AppRouter {
  }
}
