.Home {
  width: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  /*
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  flex-basis: 200px;*/
  justify-content: center;
  align-items: center;
}
.HomeSlider {
  background-image: url('../video/slider2.jpg');
  overflow: hidden;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.HomeSlider_ShowBox {
  position: absolute;
  width: 81.3vw;
  height: 40vh;
  overflow: hidden;
}

.HomeSlider_inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.HomeSlider_inner .item {
  min-width: 100%;
  min-height: 100%;
  display: inline-flex;
  justify-content: space-between;
  height: 200px;
  color: #fff;
  padding: 0;
}

.NTitle {
  margin: 10px 0 20px 0;
}

.NPlot {
  margin: 10px 0 0 0;
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
}

.indicators > button {
  margin: 5px;
}

.home-wrap {
  margin: 0;
  width: 80.5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.Home a {
}

.Home a h4 {
  opacity: 0.5;
}

@media (max-width: 1150px) {
  .Home {
    width: 100vw;
  }

  .home-wrap {
    width: 100vw;
  }
  .home-wrap a .Novel img {
    padding: 0 !important;
  }

  .HomeSlider {
    height: 30vh;
  }

  .HomeSlider_ShowBox {
    width: 100vw;
    height: 30vh;
    padding-left: 10px;
  }

  .HomeSlider_ShowBox .HomeSlider_inner .item img {
    width: 30vw;
  }
}
