.Createnovel {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

.form-wrapper {
  margin: 0 !important;
  margin-left: 100px !important;
  padding: 0;
  width: 59.5vw; /*!important;*/
}

.title-input {
  height: 40px;
  margin: 0; /*!important;*/
  margin-bottom: 10px; /*!important;*/
  width: 59.5vw; /*!important;*/
}

.submit-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;
  margin-top: 40px;
  vertical-align: middle;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}
